USE [master]
GO
/****** Object:  Database [LOJINHA]    Script Date: 24/03/2025 21:22:45 ******/
CREATE DATABASE [LOJINHA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LOJINHA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LOJINHA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LOJINHA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LOJINHA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LOJINHA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LOJINHA]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 24/03/2025 21:22:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[TELEFONE] [varchar](80) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 24/03/2025 21:22:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[PRECO] [decimal](10, 2) NULL,
	[ESTOQUE] [int] NULL,
 CONSTRAINT [PK_PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDAS]    Script Date: 24/03/2025 21:22:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDAS](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [datetime] NULL,
	[QUANTIDADE] [int] NULL,
	[FATURADO] [bit] NULL,
	[CODIGOCLIENTES] [int] NULL,
	[CODIGOPRODUTOS] [int] NULL,
 CONSTRAINT [PK_VENDAS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_CLIENTES] FOREIGN KEY([CODIGOCLIENTES])
REFERENCES [dbo].[CLIENTES] ([CODIGO])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK_CODIGO_CLIENTES]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_PRODUTOS] FOREIGN KEY([CODIGOPRODUTOS])
REFERENCES [dbo].[PRODUTOS] ([CODIGO])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK_CODIGO_PRODUTOS]
GO
/****** Object:  StoredProcedure [dbo].[altera_cliente]    Script Date: 24/03/2025 21:22:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[altera_cliente]
    @codigo int,
	@nome varchar(100),
	@email varchar(100),
	@telefone varchar(80)
AS
UPDATE CLIENTES SET nome = @nome,email = @email,
telefone = @telefone WHERE codigo = @codigo


    
GO
/****** Object:  StoredProcedure [dbo].[exclui_cliente]    Script Date: 24/03/2025 21:22:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[exclui_cliente]
    @codigo int
AS	
	DELETE FROM CLIENTES WHERE codigo = @codigo
GO
/****** Object:  StoredProcedure [dbo].[insere_cliente]    Script Date: 24/03/2025 21:22:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insere_cliente]
    @codigo int output,
	@nome varchar(100),
	@email varchar(100),
	@telefone varchar(80)
AS
INSERT INTO CLIENTES(nome, email, telefone)
VALUES (@nome, @email, @telefone)
SET @codigo = (SELECT @@IDENTITY)
GO
/****** Object:  StoredProcedure [dbo].[seleciona_cliente]    Script Date: 24/03/2025 21:22:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[seleciona_cliente]
@filtro varchar(100) = NULL
AS	
BEGIN
IF @filtro IS NULL
   SELECT * FROM CLIENTES
ELSE
   SELECT * FROM CLIENTES
   WHERE nome  like '%'+@filtro+'%'
   OR email like '%'+@filtro+'%'
   OR telefone like '%'+@filtro+'%'

END
GO
USE [master]
GO
